@charset "UTF-08";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: bottom;
    background-size: cover;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    
    border-radius: 50%;
}

img.iphone {
    position: absolute;
    transform: translate(-50%, -50%);

    left: 50%;
    top: 50%;
}

iframe {
    width: 265px;
    height: 470px;

    position: absolute;
    transform: translate(-50%, -50%);

    left: 50%;
    top: 50.4%;
}

.menu {
    width: 50px;
    height: 50px;
}