@charset "UTF-08";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: bottom;
    background-size: cover;
}

li {
    list-style: none;
    padding-bottom: 20px;
}

section#redes-sociais {
    position: absolute;
    left: 93%;
    top: 1%;
}

img.iphone, iframe {
    position: absolute;
    transform: translate(-50%, -50%);

    left: 50%;
    top: 50%;
}

iframe {
    width: 265px;
    height: 470px;
}

.menu {
    display: inline;

    width: 50px;
    height: 50px;
}